.main-profile {
  grid-area: main;
  overflow-y: auto;
  background-color: #2f2f2f;
}

.settings {
  display: flex;
  margin-top: 65px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.settings__wrapper {
  padding: 45px 80px 45px 80px;
  border-radius: 5px;
  background-color: #4b4b4b;
  border: 2px solid #face4b;
  color: #face4b;
  width: max-content;
}

.settings__wrapper:hover{
  box-shadow: 0 0 8px #face4b;
}
.settings__title {
  color: #face4b ;
  text-decoration: underline;
  font-weight: 500;
  margin-bottom: 2rem;
}

.settings__top {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 1.5rem;
}

.setting__btn {
  padding: 7px 25px;
  background-color: #face4b;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.active__btn {
  background: #b7ffe913;
}

.profile__title {
  color: #face4b;
  font-weight: 700;
  margin-bottom: 30px;
  
}

.profile__desc {
  color: #face4b;
  text-decoration: underline;
  margin-bottom: 2rem;
  font-size: large;
}

label {
  color: var(--heading-color);
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.form__group div {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.form__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.form__group div input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3c3c3c;
  border: 2px solid #face4b;
  color: #face4b;
  font-size: 1rem;
}

.form__group div input::placeholder {
  color: var(--small-text-color);
  font-size: 0.9rem;
}

.form__group div input:focus {
  outline: none;
}

.profile-img__desc {
  color: var(--small-text-color);
  margin-bottom: 10px;
}

.profile__img-btns {
  display: flex;
  flex-direction: row !important;
  column-gap: 2.7rem;
}

.dlt__btn,
.update__btn {
  border: none;
  outline: none;
  background: transparent;
  color: #ddd;
  font-size: 0.9rem;
  cursor: pointer;
}

.update__btn {
  color: var(--secondary-color);
}

.form-group-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.form-group-checkbox div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  align-items: center;
  justify-content: space-evenly;
}
